.containerOwnApp {
   box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
   padding-top: 15px;
}
 
.login-page {
  padding: 8% 0 0;
  margin: 0 auto 100px;
  max-width: 360px;
  position: relative;
}

.login-page h2 {
	margin-bottom:30px;
}
 
.login-form {
   box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
}
 
.login-form-header {
   padding-top: 16px;
}
 
.login-from-row {
   padding-top: 16px;
   padding-bottom: 16px;
}

.button {
	padding-bottom:5px;
}

.link {
   padding-top: 0;
   padding-bottom:25px;
}

.login-from-row button {
	cursor:pointer;
}
 
.login-form-font-header {
   font-size:30px; 
   font-weight: bold;
}
 
.login-form-font-header span {
   color: #007C9B;
}